.landing {
  display: flex;
  justify-content: center;

  background-size: cover;

  height: 100vh;
}
.head {
  position: relative;
  top: 13rem;
  padding-inline: 50vh;
  color: white;
  background-color: black;
  opacity: 50%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.map {
  position: relative;
  display: flex;
  justify-content: center;
}
.landing img {
  width: 100%;
  position: absolute;
}
html,
body {
  width: 100%;
}
.cta {
  background-color: gray;
  height: 2rem;
  width: 6rem;
  color: black;
}

.cta:hover {
  color: white;
  border: 1px solid black;
}
